* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* -------------------------------------------------------------------------------------- */

/* Layout */








/* -------------------------------------------------------------------------------------- */

/* Utility */



.bg-dark-blue {
    background-color: rgba(0, 0, 145, 0.795);
}

.txt-white {
    color: white;
}

.txt-green {
    color: rgb(0, 88, 0);
}

.txt-cyan {
    color: rgb(0, 110, 110);
}

.txt-yellow {
    color: rgb(168, 168, 0);
}

.txt-red {
    color: rgb(131, 0, 0);
}